html,
body {
	height: 100%;
}
#root {
	width: 100%;
	height: 100%;
}
.App {
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}

.head {
	width: 100%;
	height: 5%;
}
.head button {
	height: 50px;
	width: 7rem;
	line-height: 50px;
}
.body {
	display: block;
	width: 100%;
	height: 80%;
	margin-bottom: 13%;
}
foot {
	display: block;
	position: absolute;
	top: 90vh;
	height: 10vh;
	width: 100%;
	background-color: red;
}

.copyButton {
	position: fixed;
	left: 80%;
	height: 50%;
	width: 10%;
	top: 10%;
}

table {
	position: absolute;
	left: 25%;
	top: 10%;
	overflow: auto;
	display: block;
	height: 85%;
}
